#university img {
    height: 400px;
    width: auto;
  }

#fields{
    color : red;
    font-size: 17px !important;
}



  #box_box {
    width: 500px;
    height: 150px;
    margin: 50px auto;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #box_box i {
    font-size: 3em;
    margin: 20px;
    color: #0FF;
    transition: all 0.5s ease;
  }
  
  #box_box i:hover {
    transform: scale(1.2);
    color: rgba(146, 34, 34, 0.966);
  }
  

  


#accounts {
    width: 500px;
    height: 150px;
    margin: 50px auto;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    }
      
    
#accounts i {
    font-size: 3em;
    margin: 20px;
    color: #0FF;
    transition: all 0.5s ease;
    }

#accounts i:hover {
    transform: scale(1.2);
    color: rgba(146, 34, 34, 0.966);
    }


#technologies {
    padding-top: 40px;
    padding-bottom: 10px;
}

